<div class="recently-reviewed w-3/4 mr-32">
    <h2>Recently Reviewed</h2>
    <div class="recently-reviewed-container space-y-12 mt-8">
        {% for i in range(1, 3) %}
            <div class="recently-reviewed-game bg-gray-800 rounded-lg shadow-md flex px-8 py-6">
                <div class="relative flex-none">
                    <a href="#">
                        <img src="https://via.placeholder.com/400x500" alt="game cover" class="w-48 hover:opacity-75 transition ease-in-out duration-150">
                    </a>
                    <div class="rating-circle">
                        <div class="rating-circle-text">80%</div>
                    </div>
                </div>
                <div class="ml-12">
                    <a href="#" class="block text-lg font-semibold leading-tight hover:text-gray-400 mt-4">Game Title</a>
                    <div class="text-gray-400 mt-1">Platforms</div>
                    <p class="text-gray-400 mt-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus exercitationem mollitia nam necessitatibus omnis pariatur quibusdam, quod? Amet assumenda dignissimos dolorum facere quisquam rerum tempora. Distinctio maiores minus neque?</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
